<center>
    <h1>Wellcome to my King Territory</h1>
    <small>developed by: Alimohammad Eghbaldar</small>
    <small><a href="https://eghbaldar.ir">eghbaldar.ir</a></small>
    <hr />
    <a href="home/large">Large Uploader Module</a>
    <br/>
    <a href="home/Small">Small Uploader Module</a>
    <br/>
    <a href="home/MultiSmallerModule">Multi Files Uploader Module</a>
</center>
