@{
    ViewData["Title"] = "File Upload";
}

<input type="file" id="fileuploadSmall">


<div id="progress" style="">
    <p id="curprogress">&nbsp;</p>
    <p id="progressNumber">0%</p>
</div>
    


<br />
<br />
<button type="button" id="btnMerge" class="btn btn-success" onclick="merging_smallModule()">Merge</button>
<br />
<br />
<button type="button" class="btn btn-warning" onclick="DeleteDatabaseAndFiles_smallModule();window.location.reload();">
    Delete Database & Files
</button>

@section Styles{
    <link href="~/kingmaterials/kinguploadersmall.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/kingmaterials/kinguploadersmall.js"></script>
}